DATABASE_URL=
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_REDIRECT_URI=https://your-auth-domain/callback/patreon
SUBSCRIBESTAR_CLIENT_ID=
SUBSCRIBESTAR_CLIENT_SECRET=
SUBSCRIBESTAR_REDIRECT_URI=https://your-auth-domain/callback/subscribestar
FLASK_SECRET_KEY=
